
.react-wrapper {
  z-index: 999;
  height: 280px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  right: -150px;
}

#name {
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 30px;
  position: absolute;
  top: 70px;
  left: 160px;
}

.nav-bar {
  z-index: 999;
  font: 24px 'Indie Flower', cursive;
  background-color: oldlace;
  width: 334px;
  height: 45px;
  padding-top: 10px;
  margin-right: 30px;
  border-top: 20px solid papayawhip;
  border-right: 20px solid bisque;
  border-bottom: 20px solid papayawhip;
  border-left: 20px solid bisque;
  border-radius: 0px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px 14px;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background: lavender;
}

.about-me {
  font-family: 'Architects Daughter', cursive;
  top: 0px;
  background-color: papayawhip;
  width: 334px;
  height: 260px;
  padding: 20px;
  -moz-transition: bottom 600ms cubic-bezier(0.535, 0.050, 0.460, 0.980);
}

.show-about {
  top: 0px;
}

.hide-about {
  display: none;
}
