body {
  overflow: hidden;
}

.react-wrapper {
  margin: 0 auto;
  position: relative;
  top: 100px;
  right: -250px;
  height: 335px;
  overflow: hidden;
}

#name {
  position:fixed !important;
  position: absolute;
  top:0;
  z-index: 999;
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 30px;
  left: 250px;
  padding: 30px;
  padding-top: 0px;
  width: 419px;
  height: 150px;
  line-height: 190px;
  background-color: white;
}

.nav-bar {
  z-index: 999;
  position: relative;
  font: 24px 'Indie Flower', cursive;
  background-color: oldlace;
  width: 439px;
  height: 45px;
  padding-top: 10px;
  border-top: 20px solid papayawhip;
  border-right: 20px solid bisque;
  border-bottom: 20px solid papayawhip;
  border-left: 20px solid bisque;
  border-radius: 0px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px 14px;
  transition: all .5s ease-out;
}
/*a:visited { text-decoration: none;}*/
a:hover {
  background: lavender;
}

a:active { background: lavender;}

.about-me {
  position: inherit;
  z-index: 5px;
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  background-color: papayawhip;
  width: 439px;
  height: 200px;
  padding: 20px;
}

.show-about {
  top: 0px;
  animation: 2s ease-in slidein;
}

.hide-about {
  top: -240px;
  animation: 2s ease-in slideout;
}

@keyframes slidein {
  from { top: -240px }
  to { top: 0px }
}

@keyframes slideout {
  from { top: 0px }
  to { top: -240px }
}

.blog {
  position: inherit;
  z-index: 5px;
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  background-color: papayawhip;
  width: 439px;
  height: 200px;
  padding: 20px;
}

.show-blog {
  top: -240px;
  animation: 2s ease-in slideBlogin;
}

.hide-blog {
  top: 0px;
  animation: 2s ease-in slideBlogout;
}


@keyframes slideBlogin {
  from { top: 0px }
  to { top: -240px }
}

@keyframes slideBlogout {
  from { top: -240px }
  to { top: 0px }
}
