@media (max-width: 1275px) {

}

.container {
  min-width: 1200px;
}

.header-content {
  float: left;
  width: 200px;
  height: 1500px;
  padding: 30px 25px 25px;
  border-radius: 10px;
}

body {
  padding: 20px;
  text-transform: uppercase;
  font-family: 'Pontano Sans', sans-serif;
}

.projects {
  padding: 30px 25px 25px;
  border-radius: 10px;
}

.projects h2 {
  position: relative;
  right: -70px;
}

.project-index {
  margin-bottom: 40px;
}

.project-content {
  padding: 30px 25px 25px;
  border-radius: 10px;
  opacity: .77;
  height: 200px;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 50px;
}

.project-header {
  position: relative;
  right: 400px;
  top: 40px;
  display: inline-block;
}

.title {
  margin-right: 20px;
  display: inline-block;
  font-weight: 900;
}

.project-img {
  width: 380px;
  height: 220px;
}

.project-caption {
  position: relative;
  right: -380px;
  top: -265px;
  display: flex;
  width: 500px;
  height: inherit;
  padding: 10px;
}

.profile-img {
  width: 200px;
  border-radius: 50%;
}
.techcons {
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 20px;
}
.tech-icons {
  float: right;
}
.tech-icons > img {
  width: 150px;
}
.tech-icons2 > img {
  width: 75px;
}

a:visited {
  text-decoration: none;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
