body {
  overflow: hidden;
}

img {
  margin-left: 60px;
}

.react-wrapper {
  margin: 0 auto;
  position: relative;
  top: 100px;
  left: 150px;
  height: 500px;
  overflow: hidden;
}

#name {
  position: fixed !important;
  top:0;
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 30px;
  left: 150px;
  padding: 30px;
  padding-top: 0px;
  width: 419px;
  height: 150px;
  line-height: 190px;
  background-color: white;
}

.nav-bar {
  z-index: 999;
  position: relative;
  font: 24px 'Indie Flower', cursive;
  background-color: oldlace;
  width: 639px;
  height: 45px;
  padding-top: 10px;
  border-top: 20px solid papayawhip;
  border-right: 20px solid bisque;
  border-bottom: 20px solid papayawhip;
  border-left: 20px solid bisque;
  border-radius: 0px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px 14px;
  transition: all .5s ease-out;
}

a:hover { background: lavender; }

a:active { background: lavender; }

.about-me {
  position: inherit;
  z-index: 5px;
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  background-color: papayawhip;
  width: 639px;
  height: 400px;
  padding: 20px;
}

.show-about {
  top: 0px;
  animation: 2s ease-in slidein;
}

.hide-about {
  top: -440px;
  animation: 2s ease-in slideout;
}

@keyframes slidein {
  from { top: -440px }
  to { top: 0px }
}

@keyframes slideout {
  from { top: 0px }
  to { top: -440px }
}

.blog {
  position: inherit;
  z-index: 5px;
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  background-color: papayawhip;
  width: 649px;
  height: 370px;
  padding: 15px;
  overflow-y: scroll;
}

.question {
  line-height: 40px;
  padding: 5px;
  letter-spacing: 2px;
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 16px;
  color: purple;
  border: 3px dotted plum;
}

.show-blog {
  top: -440px;
  animation: 2s ease-in slideBlogin;
}

.hide-blog {
  top: 0px;
  animation: 2s ease-in slideBlogout;
}


@keyframes slideBlogin {
  from { top: 0px }
  to { top: -440px }
}

@keyframes slideBlogout {
  from { top: -440px }
  to { top: 0px }
}

.projects {
  z-index: 5px;
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  background-color: papayawhip;
  width: 649px;
  height: 370px;
  padding: 15px;
  position: inherit;
  top: -850px;
}

.thumbnails {
  display: inline-block;
}

.show-projects {
  left: 0px;
  animation: 2s ease-in slideProjectsin;
}

.hide-projects {
  left: -700px;
  animation: 2s ease-in slideProjectsout;
}

@keyframes slideProjectsin {
  from { left: -700px }
  to { left: 0px }
}

@keyframes slideProjectsout {
  from { left: 0px }
  to { left: -700px }
}
